body {
  margin: 0;
  background-color: rgb(32, 31, 39);
  color: white;
  font-family: "Courier New", Courier, monospace;
}

main {
  padding: 24px 16px;
}

section {
  margin: 48px 0;
}

.title {
  font-size: 2em;
  margin: 0;
}

.subtitle {
  font-size: 1em;
  margin: 0;
}

.section_title {
  font-size: 1.5em;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding-bottom: 10px;
}

.note {
  opacity: 0.5;
}

.note::before {
  content: "Note: ";
  font-weight: bold;
}

a,
a:visited {
  color: rgb(0, 153, 255);
  text-decoration: none;
  text-underline-offset: 2px;
  line-height: 150%;
}

a:hover {
  color: rgb(30, 210, 255);
}

p {
  line-height: 150%;
}

.skills {
  display: block;
}

.skill_item {
  display: inline-block;
  border: 1px solid white;
  padding: 4px 24px;
  margin: 0;
  margin-top: 8px;
  border-radius: 8px;
}

.links {
  display: block;
}

.link_item {
  display: inline-block;
  border: 1px solid white;
  border-radius: 8px;
  padding: 4px 24px;
  background-color: white;
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  transition: background-color 0s, color 0s;
  cursor: pointer;
  margin-top: 8px;
}

.link_item:hover {
  background-color: rgb(0, 153, 255);
  color: white;
}